body{
  background-color: #431919;
}
main{
  display: grid;
  grid-template-columns: repeat(auto-fill, 20.48px);
  grid-template-rows: repeat(auto-fill, 20.48px);
}
.self{
  border: 2px solid #e4ecf0;
  border-radius:7px;
}
.hobby{
  border: 2px solid #e4ecf0;
  border-radius:7px;
}
.music{
  border: 2px solid #e4ecf0;
  border-radius:7px;
}
.game{
  border: 2px solid #e4ecf0;
  border-radius:7px;
}
