body{
  background-color: #431919;
}
main{
  display: grid;
  grid-template-columns: repeat(auto-fill, 20.48px);
  grid-template-rows: repeat(100, 20.48px);
}
.self{
  background-color:#7c4622;
  text-align: center;
  border: 2px solid #e4ecf0;
  border-radius:7px;
  grid-column: 28/42;
  grid-row:1/15;
}
.hobby{
  background-color:#818570;
  text-align: center;
  border: 2px solid #e4ecf0;
  border-radius:7px;
  grid-column: 1/24;
  grid-row:27/45;
}
.music{
  background-color:#818570;
  border: 2px solid #e4ecf0;
  border-radius:7px;
  grid-column: 26/49;
  grid-row:27/45;
}
.game{
  background-color:#818570;
  text-align: center;
  border: 2px solid #e4ecf0;
  border-radius:7px;
  grid-column-start: 51/75;
  grid-row-start:27/45;
}
