body{
  background-image: radial-gradient(#070708 20%, #414245);
  height:900px;
  width: 1500px;
  margin: 0 auto;  /* center the page */
  overflow-x: scroll;
}
main{
  display: grid;
  height:800px;
  grid-template-columns: repeat(5, 16.67%) auto;                          
  grid-template-rows: 40% 20% 35% 5%;
  gap:5px;
}

.self{
  display:inline-block;
  background-color:#22202e;
  text-align: center;
  color:#fbecde;
  border: 2px solid #e4ecf0;
  border-radius:10px;
  grid-column: 1;
  grid-row-start:1;
  overflow:scroll;
  scrollbar-color:#e4ecf0 #22202e;
}
.intro{
  grid-column: 2;
  grid-row:1;
  background-color:#023260;
  border:10px outset #012738;
  border-radius:10px;
  text-decoration:underline;
  font-size:18px;
  font-family: "Lucida Handwriting", "Comic sans MS";
  padding-left:22px;
  padding-top:25px;
  color:#c9c9f9;
  overflow:scroll;
  scrollbar-color:#012335 #193248;
}
.link{
  text-align: center;
  font-size:30px;
  font-family: "Lucida Handwriting", "Comic sans MS";
  grid-column: 1/span 2;
  grid-row:2;
  background:#346c9c url("LinkBackground.jpeg") center;
  background-size:cover;
  border-radius:10px;
}
.picture{
  position:relative;
  overflow:hidden;
  background: url("Picture.jpeg") center;
  background-size:cover;
  grid-column: 3/span 4;
  grid-row:1/span 2;
  border:7px double #c8c9f6;
  border-radius:15px;
}
.hobby{
  background:#818570 url("ChessBackground.jpeg") center;
  text-align: center;
  color:#080f40;
  border:5px double #2b2e77;
  border-radius:7px;
  grid-column: 1/span 2;
  grid-row-start:3;
  overflow-y:scroll;
  scrollbar-color:#e4ecf0 #2b2e77;
}
.music{
  background:#818570 url("MusicBackground .png") center;
  background-size:cover;
  color:#cc5d4e;
  font-size:20px;
  border:5px double #5d1852;
  border-radius:7px;
  padding:20px;
  grid-column: 3/span 2;
  grid-row-start:3;
  overflow-y:scroll;
  scrollbar-color:#e4ecf0 #50200a;
}
.game{
  background:#818570 url("SkyBackground.jpeg") center;
  background-size:cover;
  color:#6b8c32;
  padding-left:20px;
  border:5px double #2b2e77;
  border-radius:7px;
  grid-column: 5/span 2;
  grid-row-start:3;
}
h1{
  text-align:center;
  background-color:#36292f;  
  color:#eceff4;  
  border: 5px groove #eceff4;
  overflow:hidden;
}
h2{
  text-align:center;
}
.shine{
	animation-name:glow1;
	animation-duration:4s;
	animation-iteration-count:infinite;
}
.shine3{
	animation-name:glow1;
	animation-duration:4.5s;
	animation-iteration-count:infinite;
}
.shineRed{
	animation-name:glow2;
	animation-duration:3s;
	animation-iteration-count:infinite;
}
.mask{
  color:rgba(255, 255, 255, 0.2) ;
  text-align: center;
  font-size: 50px;
  padding-top: 30%;
	position:absolute;	
	overflow:hidden;
      	top: 0;
      	left: -50%;
      	width: 50%;
      	height: 100%;
      	background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.2) 10%,
        rgba(255, 255, 255, 0) 100%
      	);
      animation: shineMove 7s reverse infinite ;
}
@keyframes glow1{
	0%{color:#d9ffff; font-size:100%;}
	25%{color:#00e3e3; font-size:75%;}
	50%{color:#003e3e; font-size:100%;}
	75%{color:#00e3e3; font-size:75%;}
	100%{color:#d9ffff; font-size:100%;}
}
@keyframes glow2{
	0%{color:#5d181a; font-size:100%;}
	25%{color:#b02128; font-size:75%;}
	50%{color:#cf3d15; font-size:100%;}
	75%{color:#b02128; font-size:75%;}
	100%{color:#5d181a; font-size:100%;}
}
@keyframes shineMove {
    0% {
      left: -50%;
    }
    30%{
	left:100%
    }
    
    100% {
      left: 100%;
    }
}
audio{
  display:none;
}
.play-button{
  background-color: aliceblue ;
  margin-right: 0;
  border: 5px double black;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.play-button.playing{
  background-color: #192841;
}